In [13]:
%pip install sparqlwrapper

In [3]:
from SPARQLWrapper import SPARQLWrapper, JSON
from pandas import json_normalize

In [4]:
sparql = SPARQLWrapper(
    "http://Compu-David:7200/repositories/RDFHotels"
)
sparql.setReturnFormat(JSON)

In [7]:
def get_results(query):
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)

    results = sparql.query().convert()
    return(results)

**Cosultas Sparq**

Resolución de preguntas mediante consultas Sparql

**Pregunta 1**

¿Cual es la temperatura de la ubicacion del sitio turistico de interes?

In [9]:
query = """
    PREFIX schema: <https://schema.org/>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX ns1: <https://bimerr.iot.linkeddata.es/def/weather/>
    select ?nombre  ?Temperatura ?nombreProvincia
    where { 
	?TouristDestination rdf:type schema:TouristDestination .
    ?TouristDestination schema:State ?State .
    ?TouristDestination schema:name ?nombre .
    ?State rdfs:label ?nombreProvincia .
    ?TouristDestination ns1:temp ?Temperatura .
    }
    """

results_df = json_normalize((get_results(query))['results']['bindings'])[[
    'nombre.value', 'Temperatura.value', 'nombreProvincia.value'
]]

results_df

          nombre.value Temperatura.value nombreProvincia.value
0             CumbayÃ¡            292.44             Pichincha
1           Guangopolo            291.59             Pichincha
2         Guayllabamba            293.71             Pichincha
3               Mashpi            292.47             Pichincha
4                Mindo            299.41             Pichincha
..                 ...               ...                   ...
191     San SebastiÃ¡n            287.52                 Azuay
192             Urdesa             300.1                Guayas
193     Daphne Islands            297.49             Galapagos
194       Isla Isabela            293.15             Galapagos
195  Santa Cruz Island            292.47             Galapagos

[196 rows x 3 columns]

In [12]:
query = """
    prefix ns1: <http://www.purl.org/dabgeo/common-domain/weather#/> 
    prefix ns2: <https://bimerr.iot.linkeddata.es/def/weather/> 
    prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
    prefix schema: <https://schema.org/> 
    prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

    select ?nombre ?Clima
    where { 
	    ?TouristDestination rdf:type schema:TouristDestination .
        ?TouristDestination schema:State ?State .
        ?TouristDestination schema:name ?nombre .
        ?State rdfs:label ?nombreProvincia .
        ?TouristDestination ns1:WeatherCondition ?weather .
        ?weather ns1:hasWeatherCondition ?Clima .
    }
    """

results_df = json_normalize((get_results(query))['results']['bindings'])[[
    'nombre.value', 'Clima.value'
]]

results_df

          nombre.value    Clima.value
0             CumbayÃ¡   thunderstorm
1           Guangopolo   thunderstorm
2         Guayllabamba   thunderstorm
3               Mashpi     light rain
4                Mindo  moderate rain
..                 ...            ...
189     San SebastiÃ¡n  broken clouds
190             Urdesa  broken clouds
191     Daphne Islands  broken clouds
192       Isla Isabela  broken clouds
193  Santa Cruz Island  broken clouds

[194 rows x 2 columns]